<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notes</title>
  <meta charset="utf-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link rel="stylesheet" href="{% static 'hopscotch.css' %}">
  <link href='{% static "bootstrap-tour-standalone.min.css" %}' rel="stylesheet">

</head>

<body>



	<div id="hello_hopscotch">
    <h1 id="title_index">Hello world!</h1>
    <input
      id="input"
      type="text"
      placeholder="this is a placeholder"
      v-on:keyup="write_message"
      v-model="message"
    />
    <h2 class="purple">${message}</h2>

    <h1>Goodbye cruel world!</h1>
        <input
          id="none"
          type="text"
          placeholder="this is a placeholder"
          v-on:keyup="write_another_message"
          v-model="message2"
        />
        <h2 class="purple">${message2}</h2>
    <button id="button1">fancy button one</button>
    <button id="button2">fancy button two</button>
    <button id="button3" @click='be_ironic'>fancy button three</button>
    <h2 v-if=pushed>NOTHING HAPPENED<h2>
    <button id="button4" @click='jump_page'>go somewhere else</button>


  </div>




<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap-tour-standalone.min.js' %}"></script>
<script src="{% static 'index.js' %}"></script>
<script src="{% static 'hopscotch.js' %}"></script>
<script src="{% static 'hopscotch_demo.js' %}"></script>

</body>
</html>
