<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <!-- <link rel="stylesheet" href="{% static 'hopscotch.css' %}"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
  <link href='{% static "bootstrap-tour-standalone.min.css" %}' rel="stylesheet">
</head>
<body>

<h1 id="yes">Yes!</h1>
<button id="try_separate_tour">Go to a page with a separate tour</button>
<script src="{% static 'jquery_page.js' %}"></script>
<!-- <script src="{% static 'jquery.min.js' %}"></script> -->
<script src="{% static 'bootstrap-tour-standalone.min.js' %}"></script>
<script src="{% static 'demo_bootstrap_tour.js' %}"></script>
<script src="{% static 'demo_bootstrap_page2.js' %}"></script>
</body>
